/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #84dcc6;
  color: #ffffff;
  line-height: 1.6;
}

.header {
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.header input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  background-color: #a5ffd6;
  color: #ff686b;
  outline: none;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: #ffa69e;
  padding: 2px 2px 0px 2px;
  box-shadow: 0 4px 15px #ffa69e;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  max-width: 250px;
  margin: auto;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.card .card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ffa69e;
  color: white;
  padding: 10px;
  box-shadow: 0 -10px 30px #ffa69e80;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px #a5ffd680;
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover .card-content {
  transform: translateY(0);
}

.footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 18.5%;
  font-size: 0.9rem;
  color: #ff686b;
  background-color: #a5ffd6;
  height: fit-content;
  width: 100%;
  border-radius: 10px;
}
