* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #2e2e2e;
  color: #f0f0f0;
  line-height: 1.6;
}

header {
  background: #3a3a3a;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #f0f0f0;
}

header input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  background-color: #4a4a4a;
  color: #fff;
  outline: none;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: #1e1e1e;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  max-width: 250px;
  margin: auto;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.card .card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover .card-content {
  transform: translateY(0);
}

footer {
  text-align: center;
  padding: 20px;
  background: #3a3a3a;
  margin-top: 40px;
  font-size: 0.9rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}
